<center><h1 style="font-size:2em;color:#2467C0;font-family:Times New Roman">Tagesaufgaben 25.01.2023</h1></center>

<div class="alert alert-success" role="alert">
  <hr>
      <h4 style="font-family:courier;font-size:1.3em">
Lade die CSV Datei 'Dataset.csv' herunter und speichere sie in einem gewünschten Ordner auf deinem Rechner.
</h4>
<hr>
</div>

<div class="alert alert-success" role="alert">
          <h4 style="font-family:courier;font-size:1.7em">
Aufgabe1
</h4>
  <hr>
      <h4 style="font-family:courier;font-size:1.5em">
Bearbeite die angegebenen Steps<br>
</h4>
</div>

# Step1
### Lese die  'Dataset.csv' Datei  und speichere den Dataframe in der Variable 'data'. Gib anschließend die ersten 4 Zeilen des Dataframes aus.

# Step2
## Berechne die Menge an NaNs in jeder Spalte und lass dir die 10 Spalten mit den meisten NaNs anzeigen.

# Step 3
### Lösche die Spalten in denen mehr als 50% der Werte NaNs sind. Überschreibe dazu deinen DataFrame.

# Step 4 - Optional
### Prozentual gesehen, wie viele NaN Werte gibt es im ganzen DataFrame?

# Step 5
### Zeige mithilfe der missingno Library alle NaN Werte in einem Graphen an

# Step 6 - Optional
## Fülle alle NaN Werte in der Spalte "Existing Use" mit dem darüberliegenden NICHT NaN Wert!
## Lass dir das Ergebnis nur anzeigen und überschreibe den DataFrame nicht!
### Die beiden folgenden Tabellen sind Beispiele zur Veranschaulichung. Die erste zeigt die Ausgangstabelle und die zweite das Ergebnis nach Anwendung des zweiten Schrittes.

Spalte 1 | Spalte 2 
-------- | -------- 
2   | 1
 3  | NaN 
NaN | 7  
NaN   | NaN

##### Endergebnis
Spalte 1 | Spalte 2 
-------- | -------- 
2   | 1
 3  | 1 
3 | 7  
3   | 7

# Step 7
## Ersetze die NaN Werte in der Spalte "Number of Existing Stories"  mit einer 1

# Step 8
## Ersetze die NaN Werte in der Spalte "Existing Units"  mit dem Maximalwert dieser Spalte

# Step 9
## Ersetze die NaN Werte in der Spalte "Plansets"  mit einer linearen Interpolation

# Step 10
### Lade das aktualisierte Notebook auf den Server (Github)

<div class="alert alert-success" role="alert">
          <h4 style="font-family:courier;font-size:1.7em">
Aufgabe2 - SQL
</h4>
  <hr>
      <h4 style="font-family:courier;font-size:1.5em">

</h4>
</div>

Wie nennt man in SQL folgende Begriffe:

Tabelle:
Zeilen:
Spalten:

Welche Eigenschaften sollten Transaktionen besitzen? Nenne das Schlagwort und erläutere die einzelnen Bestandteile

#